<app-header (featureselected)="onNavigate($event)"></app-header>
<div class="Container">
  <div class="row">
    <div class="col-md-12">
      <h2>I'm working!</h2>
      <!-- <app-recipes *ngIf="loadFeature==='recipe'"></app-recipes> -->
      <app-recipes *appUnless="loadFeature!=='recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadFeature==='recipe'"></app-shopping-list>
    </div>
  </div>
</div>
<div>
  <p appBasicHighlight>Style me with basic directive!</p>
  <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with basic directive!</p>
</div>